* {
	box-sizing: border-box;
}

:root {
	--text-color-RGB: 0, 0, 0;
	--heading-color-RGB: 75, 37, 0;
	--link-color-RGB: 102, 51, 0;
	--hover-color-RGB: 252, 86, 32;
	--background-color-RGB: 255, 255, 255;
	--cover-background-color-RGB: 248, 238, 225;
	--wrapper-width: 90.4;
}

@font-face {
	font-family: "Root UI";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/pt-root-ui_regular.woff2") format("woff2");
}

@font-face {
	font-family: "Root UI";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/pt-root-ui_medium.woff2") format("woff2");
}

@font-face {
	font-family: "Root UI";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/pt-root-ui_bold.woff2") format("woff2");
}

html {
	line-height: 1.2;
	scroll-behavior: smooth;

	--mobile-viewport-min: 320;
	--mobile-desktop-breakpoint: 768;
	--desktop-viewport-base: 1000;
	--desktop-viewport-max: 1500;

	--mobile-font-size-min: 14;
	--mobile-font-size-max: 32;

	--desktop-font-size-min: 16;
	--desktop-font-size-base: 24;
	--desktop-font-size-max: 32;

	font-size: calc(var(--mobile-font-size-min) * 1px);

	@media screen and (min-width: 320px) {
		font-size: calc(
			var(--mobile-font-size-min) * 1px +
				(var(--mobile-font-size-max) - var(--mobile-font-size-min)) *
				(
					(100vw - var(--mobile-viewport-min) * 1px) /
						(var(--mobile-desktop-breakpoint) - var(--mobile-viewport-min))
				)
		);
	}

	@media screen and (min-width: 768px) {
		font-size: calc(
			var(--desktop-font-size-min) * 1px +
				(var(--desktop-font-size-base) - var(--desktop-font-size-min)) *
				(
					(100vw - var(--mobile-desktop-breakpoint) * 1px) /
						(var(--desktop-viewport-base) - var(--mobile-desktop-breakpoint))
				)
		);
	}

	@media screen and (min-width: 1000px) {
		font-size: calc(
			var(--desktop-font-size-base) * 1px +
				(var(--desktop-font-size-max) - var(--desktop-font-size-base)) *
				(
					(100vw - var(--desktop-viewport-base) * 1px) /
						(var(--desktop-viewport-max) - var(--desktop-viewport-base))
				)
		);
	}

	@media screen and (min-width: 1500px) {
		font-size: calc(var(--desktop-font-size-max) * 1px);
	}
}

body {
	margin: 0;
	font-family: "Root UI", Inter, sans-serif;
	color: rgba(var(--text-color-RGB), 1);
	background-color: rgba(var(--background-color-RGB), 1);
}

.wrapper {
	position: relative;
	width: calc(var(--wrapper-width) * 1%);
	margin: 0 auto;

	@media (max-width: 768px) {
		width: 100%;
		padding: 1em;
	}
}

.text-width {
	width: 70%;
	@media (max-width: 768px) {
		width: 100%;
	}
}

.hero {
	padding-top: 1.6em;
	background: rgb(var(--cover-background-color-RGB), 1);
	overflow: hidden;
}

.hero-content {
	margin-top: 0.2em;
	position: relative;
	height: min(66.5vw, 665px);
}

.hero-content img {
	position: absolute;
	left: calc((100vw - (var(--wrapper-width) * 1vw)) / -2);
	bottom: 0;
	width: min(68vw, 681px);
	display: block;
}

.hero-text {
	position: absolute;
	inset: 0;
}

.heading-group {
	position: absolute;
	left: 52%;
	top: 8%;
}

h1 {
	margin: 0;
	margin-top: 14px;
	font-family: Rubik Bubbles, Inter, sans-serif;
	font-size: 4em;
	color: rgba(var(--heading-color-RGB), 1);
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 5.5%;
}

h2 {
	font-size: 1.6em;
}

.hero-caption {
	font-weight: 500;
	margin: 0 0 0 5px;
}

.hero-product-info {
	position: absolute;
	right: -2.5%;
	bottom: 1%;
	width: 18%;
	min-width: 40%;
}

.price {
	margin: 0 0 4px;
	font-family: Pangolin, Inter, sans-serif;
	font-size: 2em;
	line-height: 1;
}

.name {
	display: inline-block;
	margin-bottom: 10px;

	font-weight: 500;
	color: rgba(var(--link-color-RGB), 1);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.3em;
	text-decoration-color: rgba(var(--link-color-RGB), 0.5);
	text-decoration-skip: none;
	text-decoration-skip-ink: none;
}

.hero-description {
	margin: 0 0 60px;
}

.description {
	margin: 0;
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.75em;
}

.menu {
	flex-grow: 1;

	& ul {
		display: flex;
		flex-flow: row nowrap;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	& li {
		margin-right: 14px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.logo {
	margin: 5px 38px 0px 0px;
}

.menu a {
	color: rgba(var(--text-color-RGB), 1);
	text-decoration: none;
}

.menu .active {
	color: rgba(var(--link-color-RGB), 1);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.3em;
	text-decoration-color: rgba(var(--link-color-RGB), 0.5);
	text-decoration-skip: none;
	text-decoration-skip-ink: none;
}

.user-tools {
	display: flex;
	flex-flow: row nowrap;

	& .icon {
		margin-right: 8px;
		&:last-child {
			margin-right: 0;
		}
	}
}

footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 5em 0 2.5em 0;
	font-size: 0.75em;
}

.contacts {
	margin-right: 80px;
}

.footer-menu {
	flex-grow: 1;
}

.contacts ul,
.footer-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contacts li,
.footer-menu li {
	margin-bottom: 8px;
}
.contacts li:last-child,
.footer-menu li:last-child {
	margin-bottom: 0;
}

.contacts a,
.footer-menu a {
	color: rgba(var(--text-color-RGB), 1);
}

.contacts a {
	text-decoration: none;
}

.footer-menu a {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.3em;
	text-decoration-color: rgba(var(--text-color-RGB), 0.2);
	text-decoration-skip: none;
	text-decoration-skip-ink: none;
}

.social-links {
	display: flex;
	flex-flow: row nowrap;
	align-self: flex-end;
	line-height: 0;
	font-size: 0;

	& .icon {
		margin-right: 8px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.quote {
	margin: 2em 0 1.75em;

	& h2 {
		margin-bottom: 0.5em;
	}

	& p {
		margin-bottom: 0.4em;
	}
}

.caption {
	font-size: 0.8em;
}

.product-gallery {
	display: flex;
	flex-direction: column;
	gap: 1.75em;
}

.card-side {
	display: flex;
	align-items: flex-start;
	gap: 1em;

	& .product-info {
		transform: translateY(-4px);
	}

	& img {
		width: calc(50% - 0.5em);
		aspect-ratio: 1;
		object-fit: cover;
	}
}

.card-horizontal {
	display: flex;
	flex-direction: column;
	gap: 1em;

	& .product-info {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;

		& .description {
			width: 60%;
		}

		@media (max-width: 768px) {
			flex-direction: column-reverse;
			justify-content: flex-start;
			align-items: flex-start;

			& .description {
				width: 100%;
			}
		}
	}
}

.card-gallery {
	display: flex;
	justify-content: space-between;

	& .card-vertical:first-child {
		flex: 0 0 calc(100% * 500 / 904);

		& img {
			aspect-ratio: 1;
		}

		& .description {
		width: 90%;
		@media (max-width: 768px) {
			width: 100%;
		}
	  }
	}

	& .card-vertical:last-child {
		flex: 0 0 calc(100% * 380 / 904);

		& img {
			aspect-ratio: 380 / 500;
		}
	}
}

.card-vertical {
	display: flex;
	flex-direction: column;
	gap: 1.2em;

	& img {
		width: 100%;
		display: block;
		object-fit: cover;
	}
}
